<a href="https://colab.research.google.com/github/msatmod/R/blob/main/dataframes_data_visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dataframes

In [ ]:
#creating a dataframe
name <- c("john","bob","patrick","julie","marie")
age <- c(45,40,39,35,42)
children <- c(FALSE,TRUE,TRUE,FALSE,TRUE)
df <- data.frame(name,age,children)
df

  name    age children
1 john    45  FALSE
2 bob     40   TRUE
3 patrick 39   TRUE
4 julie   35  FALSE
5 marie   42   TRUE

In [ ]:
#another way to create a dataframe
df <- data.frame(Name=name,Age=age,Children=children)
df

  Name    Age Children
1 john    45  FALSE
2 bob     40   TRUE
3 patrick 39   TRUE
4 julie   35  FALSE
5 marie   42   TRUE

In [ ]:
#Row is a DataFrame & Column is a Vector
#DataFrame is a list containing vectors of same length
df[3,]
df[2]

  Name    Age Children
3 patrick 39  TRUE

  Age
1 45
2 40
3 39
4 35
5 42

In [ ]:
#add column to df
height <- c(179, 181, 175, 172, 161)
df$Height <- height
df

  Name    Age Children Height
1 john    45  FALSE    179
2 bob     40   TRUE    181
3 patrick 39   TRUE    175
4 julie   35  FALSE    172
5 marie   42   TRUE    161

In [ ]:
#using cbind
weight <- c(75, 68, 78, 56, 58)
cbind(df, weight)
df

  Name    Age Children Height weight
1 john    45  FALSE    179    75
2 bob     40   TRUE    181    68
3 patrick 39   TRUE    175    78
4 julie   35  FALSE    172    56
5 marie   42   TRUE    161    58

  Name    Age Children Height
1 john    45  FALSE    179
2 bob     40   TRUE    181
3 patrick 39   TRUE    175
4 julie   35  FALSE    172
5 marie   42   TRUE    161

In [ ]:
#using rbind()
Tom <- data.frame(Name="tom",Age=39,Children=FALSE, Height=176)
rbind(df,Tom)

  Name    Age Children Height
1 john    45  FALSE    179
2 bob     40   TRUE    181
3 patrick 39   TRUE    175
4 julie   35  FALSE    172
5 marie   42   TRUE    161
6 tom     39  FALSE    176

In [ ]:
# Basic Operations on Vectors
v1 <- c(2,1,4)
v2 <- c(5,6,7)

v1+v2 #adding vectors

[1]  7  7 11

In [ ]:
#subtracting 2 vectors
v2-v1

[1] 3 5 3

In [ ]:
#multiply
v1*v2

[1] 10  6 28

In [ ]:
#basic maths functions

sum(v1) #sum of elements
sd(v1)  #standard deviation
var(v1) #get the variance
max(v1) #get the maximum value
prod(v1) #get the product of vector values
min(v1) #get the minimum value

[1] 7

[1] 1.527525

[1] 2.333333

[1] 4

[1] 8

[1] 1

In [ ]:
#comparing vectors

v1<v2
v1>v2
v1!=v2
v1==v2

[1] TRUE TRUE TRUE

[1] FALSE FALSE FALSE

[1] TRUE TRUE TRUE

[1] FALSE FALSE FALSE

In [ ]:
#vector slicing and indexing

price1 <- seq(550,670, 20)
names(price1) <- paste('p', 1:7)
price1

#use index position
price1[3]
price1[3:4]
price1[c(1,4)]

#using names
price1[c("p 3")]
price1[c("p 3","p 4","p 5")]

p 1 p 2 p 3 p 4 p 5 p 6 p 7
550 570 590 610 630 650 670

p 3
590

p 3 p 4
590 610

p 1 p 4
550 610

p 3
590

p 3 p 4 p 5
590 610 630

In [ ]:
#using logical position
price1[c(T,F,T,T,F,F,F)]

#using exclude position method
price1[-2]
price1[c(-1,-4)]

p 1 p 3 p 4
550 590 610

p 1 p 3 p 4 p 5 p 6 p 7
550 590 610 630 650 670

p 2 p 3 p 5 p 6 p 7
570 590 630 650 670

In [ ]:
#handling NA values in vectors

order_detail <- c(10,20,30,NA,50, 60)
order_detail
names(order_detail) <- c("Mon", "Tue", "Wed", "Thu", "Fri", "Sat")
order_detail
order_detail + 5

[1] 10 20 30 NA 50 60

Mon Tue Wed Thu Fri Sat
 10  20  30  NA  50  60

Mon Tue Wed Thu Fri Sat
 15  25  35  NA  55  65

In [ ]:
#creating subset of vector
firsttwo<-order_detail[1:2]
firsttwo
l<-length(order_detail)
l

Mon Tue
 10  20

[1] 6

In [ ]:
v1<- order_detail[(l-1):1]
v1
v2<- order_detail[(l-1):2]
v2
v3<- order_detail[l:1]
v3
v4<- order_detail[(l-2):1]
v4

Fri Thu Wed Tue Mon
 50  NA  30  20  10

Fri Thu Wed Tue
 50  NA  30  20

Sat Fri Thu Wed Tue Mon
 60  50  NA  30  20  10

Thu Wed Tue Mon
 NA  30  20  10

In [ ]:
#to omit NA value from the vector
na.omit(order_detail[order_detail<30])

Mon Tue
 10  20
attr(,"na.action")
<NA>
   3
attr(,"class")
[1] "omit"

In [ ]:
#use na.rm to remove the NA value
sum(order_detail, na.rm=TRUE)

[1] 170

### Matrix

In [ ]:
mat1 <- matrix(0,3,3)
mat1
mat2 <- matrix(1:9,3,3)
mat2

mat3 <- matrix(1:9, nrow=3, byrow=T)

     [,1] [,2] [,3]
[1,] 0    0    0
[2,] 0    0    0
[3,] 0    0    0

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [ ]:
#create matrix using vectors
stock1 <- c(450, 451, 452, 453,445)
stock2 <- c(230, 238, 289, 228, 229)
stocks <- c(stock1, stock2)
stocks

 [1] 450 451 452 453 445 230 238 289 228 229

In [ ]:
stock.matrix <- matrix(stocks, byrow=TRUE, nrow=2)
stock.matrix

     [,1] [,2] [,3] [,4] [,5]
[1,] 450  451  452  453  445
[2,] 230  238  289  228  229

In [ ]:
#naming matrix using colnames() and rownames()

days <- c('Mon', 'Tue', 'Wed', 'Thu', 'Fri')
st.names <- c('Stock1', 'Stock2')

colnames(stock.matrix) <- days
rownames(stock.matrix) <- st.names

stock.matrix

       Mon Tue Wed Thu Fri
Stock1 450 451 452 453 445
Stock2 230 238 289 228 229

In [ ]:
#Arithmetic Operations on Matrix

mat1 <- matrix(1:50, byrow=TRUE, nrow=5)
mat1

#add
5+mat1

#multiply
5*mat1

#divide
2/mat1 #returns the reciprocal

mat1/2 #returns the quotient

#exponent
mat1^2

#matrix arithmetic with multiple matrices

mat1 + mat1
mat1 - mat1

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]  1    2    3    4    5    6    7    8    9   10
[2,] 11   12   13   14   15   16   17   18   19   20
[3,] 21   22   23   24   25   26   27   28   29   30
[4,] 31   32   33   34   35   36   37   38   39   40
[5,] 41   42   43   44   45   46   47   48   49   50

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]  6    7    8    9   10   11   12   13   14   15
[2,] 16   17   18   19   20   21   22   23   24   25
[3,] 26   27   28   29   30   31   32   33   34   35
[4,] 36   37   38   39   40   41   42   43   44   45
[5,] 46   47   48   49   50   51   52   53   54   55

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]   5   10   15   20   25   30   35   40   45   50
[2,]  55   60   65   70   75   80   85   90   95  100
[3,] 105  110  115  120  125  130  135  140  145  150
[4,] 155  160  165  170  175  180  185  190  195  200
[5,] 205  210  215  220  225  230  235  240  245  250

     [,1]       [,2]       [,3]       [,4]       [,5]       [,6]
[1,] 2.00000000 1.00000000 0.66666667 0.50000000 0.40000000 0.33333333
[2,] 0.18181818 0.16666667 0.15384615 0.14285714 0.13333333 0.12500000
[3,] 0.09523810 0.09090909 0.08695652 0.08333333 0.08000000 0.07692308
[4,] 0.06451613 0.06250000 0.06060606 0.05882353 0.05714286 0.05555556
[5,] 0.04878049 0.04761905 0.04651163 0.04545455 0.04444444 0.04347826
     [,7]       [,8]       [,9]       [,10]
[1,] 0.28571429 0.25000000 0.22222222 0.20000000
[2,] 0.11764706 0.11111111 0.10526316 0.10000000
[3,] 0.07407407 0.07142857 0.06896552 0.06666667
[4,] 0.05405405 0.05263158 0.05128205 0.05000000
[5,] 0.04255319 0.04166667 0.04081633 0.04000000

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]  0.5  1    1.5  2    2.5  3    3.5  4    4.5  5
[2,]  5.5  6    6.5  7    7.5  8    8.5  9    9.5 10
[3,] 10.5 11   11.5 12   12.5 13   13.5 14   14.5 15
[4,] 15.5 16   16.5 17   17.5 18   18.5 19   19.5 20
[5,] 20.5 21   21.5 22   22.5 23   23.5 24   24.5 25

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]    1    4    9   16   25   36   49   64   81  100
[2,]  121  144  169  196  225  256  289  324  361  400
[3,]  441  484  529  576  625  676  729  784  841  900
[4,]  961 1024 1089 1156 1225 1296 1369 1444 1521 1600
[5,] 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]  2    4    6    8   10   12   14   16   18    20
[2,] 22   24   26   28   30   32   34   36   38    40
[3,] 42   44   46   48   50   52   54   56   58    60
[4,] 62   64   66   68   70   72   74   76   78    80
[5,] 82   84   86   88   90   92   94   96   98   100

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,] 0    0    0    0    0    0    0    0    0    0
[2,] 0    0    0    0    0    0    0    0    0    0
[3,] 0    0    0    0    0    0    0    0    0    0
[4,] 0    0    0    0    0    0    0    0    0    0
[5,] 0    0    0    0    0    0    0    0    0    0

In [ ]:
#Matrix Operations
colSums(stock.matrix) #sum for each column
rowSums(stock.matrix) #sum for each row
rowMeans(stock.matrix) #mean for each row

#adding rows and columns to a matrix using rbind() and cbind()

stock3 <- c(150, 151, 149, 120, 113)
total_stock <- rbind(stock.matrix, stock3)
total_stock

avg <- rowMeans(total_stock)
avg

total_stock <- cbind(total_stock, avg)

Mon Tue Wed Thu Fri
680 689 741 681 674

Stock1 Stock2
  2251   1214

Stock1 Stock2
 450.2  242.8

       Mon Tue Wed Thu Fri
Stock1 450 451 452 453 445
Stock2 230 238 289 228 229
stock3 150 151 149 120 113

Stock1 Stock2 stock3
 450.2  242.8  136.6

### Dataframes

In [ ]:
data()
data(AirPassengers)

Data sets in package ‘datasets’:

AirPassengers           Monthly Airline Passenger Numbers 1949-1960
BJsales                 Sales Data with Leading Indicator
BJsales.lead (BJsales)
                        Sales Data with Leading Indicator
BOD                     Biochemical Oxygen Demand
CO2                     Carbon Dioxide Uptake in Grass Plants
ChickWeight             Weight versus age of chicks on different diets
DNase                   Elisa assay of DNase
EuStockMarkets          Daily Closing Prices of Major European Stock
                        Indices, 1991-1998
Formaldehyde            Determination of Formaldehyde
HairEyeColor            Hair and Eye Color of Statistics Students
Harman23.cor            Harman Example 2.3
Harman74.cor            Harman Example 7.4
Indometh                Pharmacokinetics of Indomethacin
InsectSprays            Effectiveness of Insect Sprays
JohnsonJohnson          Quarterly Earnings per Johnson & Johnson Share
LakeHuron               Level of Lake Huron 1875-1972
LifeCycleSavings        Intercountry Life-Cycle Savings Data
Loblolly                Growth of Loblolly pine trees
Nile                    Flow of the River Nile
Orange                  Growth of Orange Trees
OrchardSprays           Potency of Orchard Sprays
PlantGrowth             Results from an Experiment on Plant Growth
Puromycin               Reaction Velocity of an Enzymatic Reaction
Seatbelts               Road Casualties in Great Britain 1969-84
Theoph                  Pharmacokinetics of Theophylline
Titanic                 Survival of passengers on the Titanic
ToothGrowth             The Effect of Vitamin C on Tooth Growth in
                        Guinea Pigs
UCBAdmissions           Student Admissions at UC Berkeley
UKDriverDeaths          Road Casualties in Great Britain 1969-84
UKgas                   UK Quarterly Gas Consumption
USAccDeaths             Accidental Deaths in the US 1973-1978
USArrests               Violent Crime Rates by US State
USJudgeRatings          Lawyers' Ratings of State Judges in the US
                        Superior Court
USPersonalExpenditure   Personal Expenditure Data
UScitiesD               Distances Between European Cities and Between
                        US Cities
VADeaths                Death Rates in Virginia (1940)
WWWusage                Internet Usage per Minute
WorldPhones             The World's Telephones
ability.cov             Ability and Intelligence Tests
airmiles                Passenger Miles on Commercial US Airlines,
                        1937-1960
airquality              New York Air Quality Measurements
anscombe                Anscombe's Quartet of 'Identical' Simple Linear
                        Regressions
attenu                  The Joyner-Boore Attenuation Data
attitude                The Chatterjee-Price Attitude Data
austres                 Quarterly Time Series of the Number of
                        Australian Residents
beaver1 (beavers)       Body Temperature Series of Two Beavers
beaver2 (beavers)       Body Temperature Series of Two Beavers
cars                    Speed and Stopping Distances of Cars
chickwts                Chicken Weights by Feed Type
co2                     Mauna Loa Atmospheric CO2 Concentration
crimtab                 Student's 3000 Criminals Data
discoveries             Yearly Numbers of Important Discoveries
esoph                   Smoking, Alcohol and (O)esophageal Cancer
euro                    Conversion Rates of Euro Currencies
euro.cross (euro)       Conversion Rates of Euro Currencies
eurodist                Distances Between European Cities and Between
                        US Cities
faithful                Old Faithful Geyser Data
fdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
freeny                  Freeny's Revenue Data
freeny.x (freeny)       Freeny's Revenue Data
freeny.y (freeny)       Freeny's Revenue Data
infert                  Infertility after Spontaneous and Induced
                        Abortion
iris                    Edgar Anderson's Iris Data
iris3                   Edgar Anderson's Iris Data
islands                 Areas of the World's Major Landmasses
ldeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
lh                      Luteinizing Hormone in Blood Samples
longley                 Longley's Economic Regression Data
lynx                    Annual Canadian Lynx trappings 1821-1934
mdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
morley                  Michelson Speed of Light Data
mtcars                  Motor Trend Car Road Tests
nhtemp                  Average Yearly Temperatures in New Haven
nottem                  Average Monthly Temperatures at Nottingham,
                        1920-1939
npk                     Classical N, P, K Factorial Experiment
occupationalStatus      Occupational Status of Fathers and their Sons
precip                  Annual Precipitation in US Cities
presidents              Quarterly Approval Ratings of US Presidents
pressure                Vapor Pressure of Mercury as a Function of
                        Temperature
quakes                  Locations of Earthquakes off Fiji
randu                   Random Numbers from Congruential Generator
                        RANDU
rivers                  Lengths of Major North American Rivers
rock                    Measurements on Petroleum Rock Samples
sleep                   Student's Sleep Data
stack.loss (stackloss)
                        Brownlee's Stack Loss Plant Data
stack.x (stackloss)     Brownlee's Stack Loss Plant Data
stackloss               Brownlee's Stack Loss Plant Data
state.abb (state)       US State Facts and Figures
state.area (state)      US State Facts and Figures
state.center (state)    US State Facts and Figures
state.division (state)
                        US State Facts and Figures
state.name (state)      US State Facts and Figures
state.region (state)    US State Facts and Figures
state.x77 (state)       US State Facts and Figures
sunspot.month           Monthly Sunspot Data, from 1749 to "Present"
sunspot.year            Yearly Sunspot Data, 1700-1988
sunspots                Monthly Sunspot Numbers, 1749-1983
swiss                   Swiss Fertility and Socioeconomic Indicators
                        (1888) Data
treering                Yearly Treering Data, -6000-1979
trees                   Diameter, Height and Volume for Black Cherry
                        Trees
uspop                   Populations Recorded by the US Census
volcano                 Topographic Information on Auckland's Maunga
                        Whau Volcano
warpbreaks              The Number of Breaks in Yarn during Weaving
women                   Average Heights and Weights for American Women

Use ‘data(package = .packages(all.available = TRUE))’
to list the data sets in all *available* packages.

In [ ]:
head(AirPassengers)

[1] 112 118 132 129 121 135

In [ ]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [ ]:
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [ ]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [ ]:
#creating a dataframe using data.frame() function

days <- c('mon','tue','wed','thu','fri')
temp <- c(25.6,30.1,45,37.3,41.2)
rain <- c(TRUE, TRUE, FALSE, FALSE, TRUE)

df <- data.frame(days, temp, rain)
print(df)

  days temp  rain
1  mon 25.6  TRUE
2  tue 30.1  TRUE
3  wed 45.0 FALSE
4  thu 37.3 FALSE
5  fri 41.2  TRUE

In [ ]:
summary(df)

     days                temp          rain
 Length:5           Min.   :25.60   Mode :logical
 Class :character   1st Qu.:30.10   FALSE:2
 Mode  :character   Median :37.30   TRUE :3
                    Mean   :35.84
                    3rd Qu.:41.20
                    Max.   :45.00

In [ ]:
str(df)

'data.frame':	5 obs. of  3 variables:
 $ days: chr  "mon" "tue" "wed" "thu" ...
 $ temp: num  25.6 30.1 45 37.3 41.2
 $ rain: logi  TRUE TRUE FALSE FALSE TRUE

In [ ]:
#data indexing using column names
df[,'temp'] #extracts all temperature values
df[2:4,c('days','temp')] #extracts the 2nd, 3rd and 4th row for days and temp

[1] 25.6 30.1 45.0 37.3 41.2

  days temp
2 tue  30.1
3 wed  45.0
4 thu  37.3

In [ ]:
#filtering dataframes using a subset function

subset(df,subset=rain==TRUE) #returns all the columns where it rained
subset(df, subset=temp>25) #returns all the columns where temperature > 25

  days temp rain
1 mon  25.6 TRUE
2 tue  30.1 TRUE
5 fri  41.2 TRUE

  days temp rain
1 mon  25.6  TRUE
2 tue  30.1  TRUE
3 wed  45.0 FALSE
4 thu  37.3 FALSE
5 fri  41.2  TRUE

In [ ]:
#Merging DataFrames

authors <- data.frame(
    surname= I(c('Tukey','Venables','Tierney','Ripley','McNeil')),
    nationality = c('US','Australia','US','UK','Australia'),
    deceased = c('yes', rep('no',4)))

authors

  surname  nationality deceased
1 Tukey    US          yes
2 Venables Australia   no
3 Tierney  US          no
4 Ripley   UK          no
5 McNeil   Australia   no

In [ ]:
books <- data.frame(
    name = I(c('Tukey','Venables','Tierney','Ripley','Ripley', 'McNeil', 'R Core')),
    title = c('Explorartory Data analysis', 'Modern Science Application', 'LISP-STAT','Spatial Statistics', 'Stochastic Simulation',
             'Interactive Data Analysis', 'Introduction to R'),
other.author = c(NA, 'Ripley', NA, NA, NA, NA, 'Venables & Smith'))

books

  name     title                      other.author
1 Tukey    Explorartory Data analysis NA
2 Venables Modern Science Application Ripley
3 Tierney  LISP-STAT                  NA
4 Ripley   Spatial Statistics         NA
5 Ripley   Stochastic Simulation      NA
6 McNeil   Interactive Data Analysis  NA
7 R Core   Introduction to R          Venables & Smith

In [ ]:
m1 <- merge(authors, books, by.x='surname', by.y = 'name')

In [ ]:
m1

  surname  nationality deceased title                      other.author
1 McNeil   Australia   no       Interactive Data Analysis  NA
2 Ripley   UK          no       Spatial Statistics         NA
3 Ripley   UK          no       Stochastic Simulation      NA
4 Tierney  US          no       LISP-STAT                  NA
5 Tukey    US          yes      Explorartory Data analysis NA
6 Venables Australia   no       Modern Science Application Ripley

In [ ]:
#manipulation of dataframe

sales.rep<-data.frame(Id=101:110, 
                      Product=c("A", "B"),
                     Unit.price=as.integer(runif(10,100,200)),
                     qty= as.integer(runif(10,10,20)))
sales.rep

   Id  Product Unit.price qty
1  101 A       137        13
2  102 B       120        16
3  103 A       119        15
4  104 B       138        14
5  105 A       154        17
6  106 B       102        17
7  107 A       161        18
8  108 B       162        15
9  109 A       106        12
10 110 B       189        16

In [ ]:
#transpose dataframe
transpose.salesrep<-t(sales.rep)
transpose.salesrep

           [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
Id         101  102  103  104  105  106  107  108  109  110
Product    A    B    A    B    A    B    A    B    A    B
Unit.price 137  120  119  138  154  102  161  162  106  189
qty        13   16   15   14   17   17   18   15   12   16

In [ ]:
#sort dataframe
sales.rep[order(sales.rep$Unit.price),]

   Id  Product Unit.price qty
6  106 B       102        17
9  109 A       106        12
3  103 A       119        15
2  102 B       120        16
1  101 A       137        13
4  104 B       138        14
5  105 A       154        17
7  107 A       161        18
8  108 B       162        15
10 110 B       189        16

In [ ]:
#subsetting dataframe
subset.productA<-subset(sales.rep, Product=="A")
subset.productA

  Id  Product Unit.price qty
1 101 A       137        13
3 103 A       119        15
5 105 A       154        17
7 107 A       161        18
9 109 A       106        12

### Lists

In [ ]:
list1 <- list(x=c(10,20,30),
             y=c('a','b','c'),
             z=c(TRUE,FALSE))
list1

$x
[1] 10 20 30

$y
[1] "a" "b" "c"

$z
[1]  TRUE FALSE

In [ ]:
list2 <-list(vec=seq(1:10),mat=matrix(1:9,3,3),
            lis=list(a=10,b=20))

list2

$vec
 [1]  1  2  3  4  5  6  7  8  9 10

$mat
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

$lis
$lis$a
[1] 10

$lis$b
[1] 20

In [ ]:
#recursive variable is varaible can store values of its own type
is.recursive(list2)

[1] TRUE

In [ ]:
#indexing of list
list2[2]
list2$mat
list2['vec']

length(list2)
class(list2)

$mat
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

$vec
 [1]  1  2  3  4  5  6  7  8  9 10

[1] 3

[1] "list"

In [ ]:
#conversion of vectors to list
price <- c(10,20,30)
pricelist <-as.list(price)
pricelist
price

[[1]]
[1] 10

[[2]]
[1] 20

[[3]]
[1] 30

[1] 10 20 30

In [ ]:
#conversion of list to vector
newPrice<-unlist(pricelist)
newPrice

[1] 10 20 30

In [ ]:
#dim dunction to convert vectors to matrix
price1<-c(10,20,30,40)
dim(price1)<-c(2,2)
price1

     [,1] [,2]
[1,] 10   30
[2,] 20   40