<a href="https://colab.research.google.com/github/msatmod/R/blob/main/Regression_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Simple Linear Regression

In [ ]:
#read the dataset
Class <- read.csv('../input/class-data/Class.csv')
head(Class)

  Name    Sex Age Height Weight
1 Alfred  M   14  69.0   112.5
2 Alice   F   13  56.5    84.0
3 Barbara F   13  65.3    98.0
4 Carol   F   14  62.8   102.5
5 Henry   M   14  63.5   102.5
6 James   M   12  57.3    83.0

In [ ]:
str(Class)

'data.frame':	19 obs. of  5 variables:
 $ Name  : chr  "Alfred" "Alice" "Barbara" "Carol" ...
 $ Sex   : chr  "M" "F" "F" "F" ...
 $ Age   : int  14 13 13 14 14 12 12 15 13 12 ...
 $ Height: num  69 56.5 65.3 62.8 63.5 57.3 59.8 62.5 62.5 59 ...
 $ Weight: num  112 84 98 102 102 ...

In [ ]:
summary(Class)

     Name               Sex                 Age            Height
 Length:19          Length:19          Min.   :11.00   Min.   :51.30
 Class :character   Class :character   1st Qu.:12.00   1st Qu.:58.25
 Mode  :character   Mode  :character   Median :13.00   Median :62.80
                                       Mean   :13.32   Mean   :62.34
                                       3rd Qu.:14.50   3rd Qu.:65.90
                                       Max.   :16.00   Max.   :72.00
     Weight
 Min.   : 50.50
 1st Qu.: 84.25
 Median : 99.50
 Mean   :100.03
 3rd Qu.:112.25
 Max.   :150.00

In [ ]:
#predict the weight based on height

results <- lm(formula = Weight ~ Height, data=Class)
results

Call:
lm(formula = Weight ~ Height, data = Class)

Coefficients:
(Intercept)       Height
   -143.027        3.899

In [ ]:
summary(results)

Call:
lm(formula = Weight ~ Height, data = Class)

Residuals:
     Min       1Q   Median       3Q      Max
-17.6807  -6.0642   0.5115   9.2846  18.3698

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) -143.0269    32.2746  -4.432 0.000366 ***
Height         3.8990     0.5161   7.555 7.89e-07 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 11.23 on 17 degrees of freedom
Multiple R-squared:  0.7705,	Adjusted R-squared:  0.757
F-statistic: 57.08 on 1 and 17 DF,  p-value: 7.887e-07

### Regression Analysis with Multiple Variables

In [ ]:
cars_data <- read.csv('../input/cars1/CARS.csv')
head(cars_data)

  Make  Model                   Type  Origin DriveTrain MSRP    Invoice
1 Acura MDX                     SUV   Asia   All        $36,945 $33,337
2 Acura RSX Type S 2dr          Sedan Asia   Front      $23,820 $21,761
3 Acura TSX 4dr                 Sedan Asia   Front      $26,990 $24,647
4 Acura TL 4dr                  Sedan Asia   Front      $33,195 $30,299
5 Acura 3.5 RL 4dr              Sedan Asia   Front      $43,755 $39,014
6 Acura 3.5 RL w/Navigation 4dr Sedan Asia   Front      $46,100 $41,100
  EngineSize Cylinders Horsepower MPG_City MPG_Highway Weight Wheelbase Length
1 3.5        6         265        17       23          4451   106       189
2 2.0        4         200        24       31          2778   101       172
3 2.4        4         200        22       29          3230   105       183
4 3.2        6         270        20       28          3575   108       186
5 3.5        6         225        18       24          3880   115       197
6 3.5        6         225        18       24          3893   115       197

In [ ]:
summary(cars_data)

     Make              Model               Type              Origin
 Length:428         Length:428         Length:428         Length:428
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




  DriveTrain            MSRP             Invoice            EngineSize
 Length:428         Length:428         Length:428         Min.   :1.300
 Class :character   Class :character   Class :character   1st Qu.:2.375
 Mode  :character   Mode  :character   Mode  :character   Median :3.000
                                                          Mean   :3.197
                                                          3rd Qu.:3.900
                                                          Max.   :8.300

   Cylinders        Horsepower       MPG_City      MPG_Highway
 Min.   : 3.000   Min.   : 73.0   Min.   :10.00   Min.   :12.00
 1st Qu.: 4.000   1st Qu.:165.0   1st Qu.:17.00   1st Qu.:24.00
 Median : 6.000   Median :210.0   Median :19.00   Median :26.00
 Mean   : 5.808   Mean   :215.9   Mean   :20.06   Mean   :26.84
 3rd Qu.: 6.000   3rd Qu.:255.0   3rd Qu.:21.25   3rd Qu.:29.00
 Max.   :12.000   Max.   :500.0   Max.   :60.00   Max.   :66.00
 NA's   :2
     Weight       Wheelbase         Length
 Min.   :1850   Min.   : 89.0   Min.   :143.0
 1st Qu.:3104   1st Qu.:103.0   1st Qu.:178.0
 Median :3474   Median :107.0   Median :187.0
 Mean   :3578   Mean   :108.2   Mean   :186.4
 3rd Qu.:3978   3rd Qu.:112.0   3rd Qu.:194.0
 Max.   :7190   Max.   :144.0   Max.   :238.0

In [ ]:
str(cars_data)

'data.frame':	428 obs. of  15 variables:
 $ Make       : chr  "Acura" "Acura" "Acura" "Acura" ...
 $ Model      : chr  "MDX" "RSX Type S 2dr" "TSX 4dr" "TL 4dr" ...
 $ Type       : chr  "SUV" "Sedan" "Sedan" "Sedan" ...
 $ Origin     : chr  "Asia" "Asia" "Asia" "Asia" ...
 $ DriveTrain : chr  "All" "Front" "Front" "Front" ...
 $ MSRP       : chr  "$36,945" "$23,820" "$26,990" "$33,195" ...
 $ Invoice    : chr  "$33,337" "$21,761" "$24,647" "$30,299" ...
 $ EngineSize : num  3.5 2 2.4 3.2 3.5 3.5 3.2 1.8 1.8 3 ...
 $ Cylinders  : int  6 4 4 6 6 6 6 4 4 6 ...
 $ Horsepower : int  265 200 200 270 225 225 290 170 170 220 ...
 $ MPG_City   : int  17 24 22 20 18 18 17 22 23 20 ...
 $ MPG_Highway: int  23 31 29 28 24 24 24 31 30 28 ...
 $ Weight     : int  4451 2778 3230 3575 3880 3893 3153 3252 3638 3462 ...
 $ Wheelbase  : int  106 101 105 108 115 115 100 104 105 104 ...
 $ Length     : int  189 172 183 186 197 197 174 179 180 179 ...

In [ ]:
cars_results <- lm(formula = MPG_City ~ Type + Origin + DriveTrain + EngineSize + Cylinders + Horsepower
                  + Weight + Wheelbase + Length, data = cars_data)

In [ ]:
summary(cars_results)

Call:
lm(formula = MPG_City ~ Type + Origin + DriveTrain + EngineSize +
    Cylinders + Horsepower + Weight + Wheelbase + Length, data = cars_data)

Residuals:
    Min      1Q  Median      3Q     Max
-8.0895 -1.2792 -0.1612  0.8440 13.7522

Coefficients:
                  Estimate Std. Error t value Pr(>|t|)
(Intercept)      6.492e+01  2.650e+00  24.496  < 2e-16 ***
TypeSedan       -2.823e+01  1.237e+00 -22.817  < 2e-16 ***
TypeSports      -2.943e+01  1.326e+00 -22.195  < 2e-16 ***
TypeSUV         -2.934e+01  1.299e+00 -22.581  < 2e-16 ***
TypeTruck       -2.908e+01  1.347e+00 -21.595  < 2e-16 ***
TypeWagon       -2.816e+01  1.292e+00 -21.801  < 2e-16 ***
OriginEurope    -5.380e-01  3.152e-01  -1.707  0.08867 .
OriginUSA       -3.720e-01  2.742e-01  -1.357  0.17565
DriveTrainFront  1.076e+00  3.289e-01   3.272  0.00116 **
DriveTrainRear   1.489e-01  3.694e-01   0.403  0.68713
EngineSize      -2.476e-01  3.223e-01  -0.768  0.44272
Cylinders       -1.729e-01  1.839e-01  -0.941  0.34746
Horsepower      -1.277e-02  3.206e-03  -3.984 8.02e-05 ***
Weight          -2.739e-03  3.869e-04  -7.080 6.30e-12 ***
Wheelbase        6.780e-02  3.393e-02   1.998  0.04638 *
Length          -5.247e-02  1.767e-02  -2.970  0.00315 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.09 on 410 degrees of freedom
  (2 observations deleted due to missingness)
Multiple R-squared:  0.847,	Adjusted R-squared:  0.8414
F-statistic: 151.3 on 15 and 410 DF,  p-value: < 2.2e-16

In [ ]:
 #Boston Dataset

boston_data <- read.csv('../input/data-science-machine-learning-and-ai-using-python/Boston.csv')
head(boston_data)

  X crim    zn indus chas nox   rm    age  dis    rad tax ptratio black  lstat
1 1 0.00632 18 2.31  0    0.538 6.575 65.2 4.0900 1   296 15.3    396.90 4.98
2 2 0.02731  0 7.07  0    0.469 6.421 78.9 4.9671 2   242 17.8    396.90 9.14
3 3 0.02729  0 7.07  0    0.469 7.185 61.1 4.9671 2   242 17.8    392.83 4.03
4 4 0.03237  0 2.18  0    0.458 6.998 45.8 6.0622 3   222 18.7    394.63 2.94
5 5 0.06905  0 2.18  0    0.458 7.147 54.2 6.0622 3   222 18.7    396.90 5.33
6 6 0.02985  0 2.18  0    0.458 6.430 58.7 6.0622 3   222 18.7    394.12 5.21
  medv
1 24.0
2 21.6
3 34.7
4 33.4
5 36.2
6 28.7

In [ ]:
summary(boston_data)

       X              crim                zn             indus
 Min.   :  1.0   Min.   : 0.00632   Min.   :  0.00   Min.   : 0.46
 1st Qu.:127.2   1st Qu.: 0.08205   1st Qu.:  0.00   1st Qu.: 5.19
 Median :253.5   Median : 0.25651   Median :  0.00   Median : 9.69
 Mean   :253.5   Mean   : 3.61352   Mean   : 11.36   Mean   :11.14
 3rd Qu.:379.8   3rd Qu.: 3.67708   3rd Qu.: 12.50   3rd Qu.:18.10
 Max.   :506.0   Max.   :88.97620   Max.   :100.00   Max.   :27.74
      chas              nox               rm             age
 Min.   :0.00000   Min.   :0.3850   Min.   :3.561   Min.   :  2.90
 1st Qu.:0.00000   1st Qu.:0.4490   1st Qu.:5.886   1st Qu.: 45.02
 Median :0.00000   Median :0.5380   Median :6.208   Median : 77.50
 Mean   :0.06917   Mean   :0.5547   Mean   :6.285   Mean   : 68.57
 3rd Qu.:0.00000   3rd Qu.:0.6240   3rd Qu.:6.623   3rd Qu.: 94.08
 Max.   :1.00000   Max.   :0.8710   Max.   :8.780   Max.   :100.00
      dis              rad              tax           ptratio
 Min.   : 1.130   Min.   : 1.000   Min.   :187.0   Min.   :12.60
 1st Qu.: 2.100   1st Qu.: 4.000   1st Qu.:279.0   1st Qu.:17.40
 Median : 3.207   Median : 5.000   Median :330.0   Median :19.05
 Mean   : 3.795   Mean   : 9.549   Mean   :408.2   Mean   :18.46
 3rd Qu.: 5.188   3rd Qu.:24.000   3rd Qu.:666.0   3rd Qu.:20.20
 Max.   :12.127   Max.   :24.000   Max.   :711.0   Max.   :22.00
     black            lstat            medv
 Min.   :  0.32   Min.   : 1.73   Min.   : 5.00
 1st Qu.:375.38   1st Qu.: 6.95   1st Qu.:17.02
 Median :391.44   Median :11.36   Median :21.20
 Mean   :356.67   Mean   :12.65   Mean   :22.53
 3rd Qu.:396.23   3rd Qu.:16.95   3rd Qu.:25.00
 Max.   :396.90   Max.   :37.97   Max.   :50.00

In [ ]:
str(boston_data)

'data.frame':	506 obs. of  15 variables:
 $ X      : int  1 2 3 4 5 6 7 8 9 10 ...
 $ crim   : num  0.00632 0.02731 0.02729 0.03237 0.06905 ...
 $ zn     : num  18 0 0 0 0 0 12.5 12.5 12.5 12.5 ...
 $ indus  : num  2.31 7.07 7.07 2.18 2.18 2.18 7.87 7.87 7.87 7.87 ...
 $ chas   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ nox    : num  0.538 0.469 0.469 0.458 0.458 0.458 0.524 0.524 0.524 0.524 ...
 $ rm     : num  6.58 6.42 7.18 7 7.15 ...
 $ age    : num  65.2 78.9 61.1 45.8 54.2 58.7 66.6 96.1 100 85.9 ...
 $ dis    : num  4.09 4.97 4.97 6.06 6.06 ...
 $ rad    : int  1 2 2 3 3 3 5 5 5 5 ...
 $ tax    : int  296 242 242 222 222 222 311 311 311 311 ...
 $ ptratio: num  15.3 17.8 17.8 18.7 18.7 18.7 15.2 15.2 15.2 15.2 ...
 $ black  : num  397 397 393 395 397 ...
 $ lstat  : num  4.98 9.14 4.03 2.94 5.33 ...
 $ medv   : num  24 21.6 34.7 33.4 36.2 28.7 22.9 27.1 16.5 18.9 ...

In [ ]:
boston_results <- lm(formula = medv ~ ., data=boston_data)

In [ ]:
summary(boston_results)

Call:
lm(formula = medv ~ ., data = boston_data)

Residuals:
     Min       1Q   Median       3Q      Max
-15.8948  -2.7585  -0.4663   1.7963  26.0911

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  36.461352   5.100994   7.148 3.21e-12 ***
X            -0.002526   0.002080  -1.215 0.225046
crim         -0.108762   0.032855  -3.310 0.001000 **
zn            0.048031   0.013785   3.484 0.000538 ***
indus         0.019932   0.061468   0.324 0.745871
chas          2.705245   0.861298   3.141 0.001786 **
nox         -17.541602   3.822390  -4.589 5.66e-06 ***
rm            3.839225   0.418422   9.175  < 2e-16 ***
age          -0.001938   0.013380  -0.145 0.884866
dis          -1.493304   0.199892  -7.471 3.68e-13 ***
rad           0.324925   0.068111   4.771 2.43e-06 ***
tax          -0.011598   0.003807  -3.046 0.002443 **
ptratio      -0.947985   0.130822  -7.246 1.67e-12 ***
black         0.009357   0.002685   3.485 0.000536 ***
lstat        -0.526184   0.050704 -10.377  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 4.743 on 491 degrees of freedom
Multiple R-squared:  0.7414,	Adjusted R-squared:  0.734
F-statistic: 100.6 on 14 and 491 DF,  p-value: < 2.2e-16