<a href="https://colab.research.google.com/github/msatmod/R/blob/main/variables_and_datatype_in_r.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variables and DataTypes in R

In [ ]:
#create a variable
model1 <- 'hello'
model1

[1] "hello"

In [ ]:
#check the datatype of the variable
typeof(model1)

[1] "character"

In [ ]:
#check the class of the variable
class(model1)

[1] "character"

In [ ]:
.2pairs <- 100 #cannot add a number in variable name ever after the period

ERROR: Error in parse(text = x, srcfile = src): <text>:1:3: unexpected symbol
1: .2pairs
      ^

In [ ]:
#can add a period at the beginning of the variable
.pairs <- 100
.pairs

[1] 100

In [ ]:
#R language is case sensitive so the spelling matters 
First_Num <- 100
First_Num
first_num

[1] 100

ERROR: Error in eval(expr, envir, enclos): object 'first_num' not found

In [ ]:
animal <- 'tiger'
animal

[1] "tiger"

# Logical Operators

### Arthimetic operators:
- Addition
- Subtraction
- Multiplication
- Division
- Remainder/Modulus
- Exponent

### Order of Operations:
- Parenthesis()
- Exponent (^)
- Multiplication and Division (left to right)
- Add and Subtract (left to right)

### Rational/Logical operators:
- Greater than(>)
- Less than(<)
- Greater than/equal(>=)
- Less than/equal(<=)
- Equal to (=)
- Not equal to (!=)

In [ ]:
#Basic Arithmetic operations
150+350
98-23
5*4
15/3
5^4
(500*2)+(400/2)

[1] 500

[1] 75

[1] 20

[1] 5

[1] 625

[1] 1200

In [ ]:
stock.data <- read.csv("../input/stock-prices/all_stocks_5yr.csv")

In [ ]:
stock.data

       date       open  high    low     close volume   Name
1      2013-02-08 15.07 15.12   14.63   14.75  8407500 AAL
2      2013-02-11 14.89 15.01   14.26   14.46  8882000 AAL
3      2013-02-12 14.45 14.51   14.10   14.27  8126000 AAL
4      2013-02-13 14.30 14.94   14.25   14.66 10259500 AAL
5      2013-02-14 14.94 14.96   13.16   13.99 31879900 AAL
6      2013-02-15 13.93 14.61   13.93   14.50 15628000 AAL
7      2013-02-19 14.33 14.56   14.08   14.26 11354400 AAL
8      2013-02-20 14.17 14.26   13.15   13.33 14725200 AAL
9      2013-02-21 13.62 13.95   12.90   13.37 11922100 AAL
10     2013-02-22 13.57 13.60   13.21   13.57  6071400 AAL
11     2013-02-25 13.60 13.76   13.00   13.02  7186400 AAL
12     2013-02-26 13.14 13.42   12.70   13.26  9419000 AAL
13     2013-02-27 13.28 13.62   13.18   13.41  7390500 AAL
14     2013-02-28 13.49 13.63   13.39   13.43  6143600 AAL
15     2013-03-01 13.37 13.95   13.32   13.61  7376800 AAL
16     2013-03-04 13.50 14.07   13.47   13.90  8174800 AAL
17     2013-03-05 14.01 14.05   13.71   14.05  7676100 AAL
18     2013-03-06 14.52 14.68   14.25   14.57 13243200 AAL
19     2013-03-07 14.70 14.93   14.50   14.82  9125300 AAL
20     2013-03-08 14.99 15.20   14.84   14.92 10593700 AAL
21     2013-03-11 14.85 15.15   14.71   15.13  6961800 AAL
22     2013-03-12 15.14 15.60   14.95   15.50  8999100 AAL
23     2013-03-13 15.54 16.20   15.48   15.91 11380000 AAL
24     2013-03-14 15.98 16.36   15.93   16.25  8383300 AAL
25     2013-03-15 16.45 16.54   15.88   15.98 17667700 AAL
26     2013-03-18 15.80 16.33   15.71   16.29  6514100 AAL
27     2013-03-19 16.48 16.85   16.41   16.78 11805300 AAL
28     2013-03-20 17.13 17.33   16.87   17.23 10819800 AAL
29     2013-03-21 17.21 17.43   16.87   17.00 10740800 AAL
30     2013-03-22 17.10 17.29   16.77   16.86  8545200 AAL
⋮      ⋮          ⋮     ⋮       ⋮       ⋮     ⋮        ⋮
619011 2017-12-26 72.40 72.5500 71.9000 72.34  792134  ZTS
619012 2017-12-27 72.59 72.6900 72.2500 72.45 1159771  ZTS
619013 2017-12-28 72.49 72.6000 72.1400 72.39  710499  ZTS
619014 2017-12-29 72.55 72.7600 72.0400 72.04 1704122  ZTS
619015 2018-01-02 72.54 72.5900 71.4650 71.77 2135564  ZTS
619016 2018-01-03 71.77 72.1800 71.3400 72.10 2328506  ZTS
619017 2018-01-04 72.75 72.9128 72.2600 72.53 2534010  ZTS
619018 2018-01-05 72.83 73.9200 72.5700 73.36 2166065  ZTS
619019 2018-01-08 73.43 74.4200 73.1607 74.24 3631552  ZTS
619020 2018-01-09 74.70 75.4750 74.4650 75.11 2721946  ZTS
619021 2018-01-10 74.58 74.8000 73.2800 73.91 2257464  ZTS
619022 2018-01-11 74.05 74.6800 73.7200 74.59 1629279  ZTS
619023 2018-01-12 74.91 75.6900 74.7700 75.39 1915669  ZTS
619024 2018-01-16 76.06 76.4000 75.2100 75.54 2599094  ZTS
619025 2018-01-17 75.81 77.0300 75.3900 76.77 2769587  ZTS
619026 2018-01-18 76.65 76.6500 75.8500 76.33 2588995  ZTS
619027 2018-01-19 76.69 76.9100 76.2200 76.62 4829602  ZTS
619028 2018-01-22 76.67 77.5800 76.6200 77.48 4195103  ZTS
619029 2018-01-23 77.30 78.3200 76.9700 77.59 2264132  ZTS
619030 2018-01-24 78.16 78.5100 77.6000 78.33 2585326  ZTS
619031 2018-01-25 78.47 79.3800 78.3450 79.25 2327262  ZTS
619032 2018-01-26 79.49 80.1300 79.3800 80.09 2532808  ZTS
619033 2018-01-29 79.81 79.9500 79.1100 79.18 2662383  ZTS
619034 2018-01-30 78.44 78.6900 77.9100 78.35 3808707  ZTS
619035 2018-01-31 78.49 78.7700 76.5400 76.73 4136360  ZTS
619036 2018-02-01 76.84 78.2700 76.6900 77.82 2982259  ZTS
619037 2018-02-02 77.53 78.1200 76.7300 76.78 2595187  ZTS
619038 2018-02-05 76.64 76.9200 73.1800 73.83 2962031  ZTS
619039 2018-02-06 72.74 74.5600 72.1300 73.27 4924323  ZTS
619040 2018-02-07 72.70 75.0000 72.6900 73.86 4534912  ZTS

In [ ]:
head(stock.data)

  date       open  high  low   close volume   Name
1 2013-02-08 15.07 15.12 14.63 14.75  8407500 AAL
2 2013-02-11 14.89 15.01 14.26 14.46  8882000 AAL
3 2013-02-12 14.45 14.51 14.10 14.27  8126000 AAL
4 2013-02-13 14.30 14.94 14.25 14.66 10259500 AAL
5 2013-02-14 14.94 14.96 13.16 13.99 31879900 AAL
6 2013-02-15 13.93 14.61 13.93 14.50 15628000 AAL

In [ ]:
x <- stock.data[stock.data$Name == "AAL" & stock.data$open == "15.07"]

In [ ]:
x

       date
1      2013-02-08
2      2013-02-11
3      2013-02-12
4      2013-02-13
5      2013-02-14
6      2013-02-15
7      2013-02-19
8      2013-02-20
9      2013-02-21
10     2013-02-22
11     2013-02-25
12     2013-02-26
13     2013-02-27
14     2013-02-28
15     2013-03-01
16     2013-03-04
17     2013-03-05
18     2013-03-06
19     2013-03-07
20     2013-03-08
21     2013-03-11
22     2013-03-12
23     2013-03-13
24     2013-03-14
25     2013-03-15
26     2013-03-18
27     2013-03-19
28     2013-03-20
29     2013-03-21
30     2013-03-22
⋮      ⋮
619011 2017-12-26
619012 2017-12-27
619013 2017-12-28
619014 2017-12-29
619015 2018-01-02
619016 2018-01-03
619017 2018-01-04
619018 2018-01-05
619019 2018-01-08
619020 2018-01-09
619021 2018-01-10
619022 2018-01-11
619023 2018-01-12
619024 2018-01-16
619025 2018-01-17
619026 2018-01-18
619027 2018-01-19
619028 2018-01-22
619029 2018-01-23
619030 2018-01-24
619031 2018-01-25
619032 2018-01-26
619033 2018-01-29
619034 2018-01-30
619035 2018-01-31
619036 2018-02-01
619037 2018-02-02
619038 2018-02-05
619039 2018-02-06
619040 2018-02-07

In [ ]:
#Printing formating
print(paste("Hello","World"))

[1] "Hello World"

In [ ]:
print(paste("Hello","World", sep='-'))

[1] "Hello-World"

In [ ]:
sprintf("%s is %f tall", "Ashley", 5.1)

[1] "Ashley is 5.100000 tall"